
{{> message}}
<form action="/urls" method="POST" style="display: inline;">
  <div class="input-group p-3">
    <input
      id="shorten-URL"
      class="form-control"
      type="string"
      placeholder="http://..."
      name="URL"
    />
    <button
      id="copy-button"
      class="btn btn-success"
      type="submit"
    >Shorten</button>

  </div>

</form>